/* LAKERS PURPLE: #552583 */
/* LAKERS GOLD: #FDB927 */

/* WHOLE BODY STYLE */
body {
        margin: 0;
        font-family: "Times New Roman", Times, serif;
        background-color: #e0bbff;
        padding-top: 50px;
}
/* WHOLE BODY STYLE */

/* NAVBAR STYLES */
.topnav {
        background-color: #552583;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        z-index: 10;
}
    
.topnav b {
        float: left;
        color: #FDB927;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
}
      
.topnav a {
        float: left;
        color: #FDB927;
        text-align: center;
        padding: 12px 16px;
        font-family: "Times New Roman", Times, serif;
        text-decoration: none;
        font-size: 22px;
}
      
.topnav a:hover {
        background-color: #4b187b;
        color: #FDB927;
}
      
.topnav a.active {
        background-color: #3e1264;
        color: #FDB927;
}

.topnav img{
        height: 50px;
}    
/* NAVBAR STYLES */

.titleDiv{
        background-color: lightblue;
        background-image: url('images/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        padding-top: 200px;
        padding-bottom: 200px;
        opacity: 0;  /* Initially invisible */
        animation: fadeIn 0.5s ease-in forwards;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 100px;
        text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

@keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}
    